@model IEnumerable<Entidad.Autor>

@{
    ViewBag.Title = "Listado de Autores";
}

<h2>Lista de autores</h2>

<div id="CargarIndex">

</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

<script src="~/Scripts/BibliotecaScript.js"></script>
<script>
    load('@Url.Action("PV_Index","Autores")');
</script>

}